*~
/*-[0-9][0-9].xml
archive.json
draft-deeglaze-amd-sev-snp-corim-profile.xml
Gemfile.lock
/.gems/
*.html
/lib
/node_modules/
package-lock.json
*.pdf
*.redxml
/.refcache
report.xml
*.swp
.tags
/.targets.mk
*.txt
*.upload
/.venv/
/versioned/
/.vscode/
!requirements.txt
